.todo-item {
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #000;
    color: black;
    margin: 15px;
    /* width: 210px; */
}
.delete-button
{
    border-radius: 10px;
    border: 1px solid rgb(109, 62, 62);
    background-color: red;
    color: white;

}